@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  overflow-x: hidden;
  display: flex;
  overflow-x: hidden;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: almarai;
  background-color: var(--background-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.appInput::placeholder {
  color: var(--font-color);
  opacity: 0.5;
  position: relative;
  overflow: visible;
}
:root {
  --background-color: #ffffff;
  --font-color: #214c5c;
  --primary-color: #0881a3;
  --secondary-color: #dbe2ef;
  --off-color: #f5f9ff;
}

.form-in {
  animation: form-in 0.6s;
}

.form-out {
  animation: form-out 0.6s;
}

@keyframes form-in {
  from {
    opacity: 0;
    transform: translateY(-30rem);
  }
  to {
    opacity: 1;

    transform: translateY(0);
  }
}

@keyframes form-out {
  to {
    opacity: 0;
    transform: translateY(30rem);
  }
}
.alert-in {
  animation: alert-in 0.5s;
}
@keyframes alert-in {
  from {
    top: 30%;

    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}
.icon-pop {
  animation: pop 0.6s forwards 0.2s;
}
@keyframes pop {
  from {
    scale: 1.4;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}
.appButton {
  transition: 0.3s;
}
.appButton:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0.3rem 0.3rem #2c6377;
}
.appButton:active {
  transform: translateY(0rem);
  box-shadow: 0rem 0rem #2c6377;
}
